.home {
  text-align: center;
}
.home img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.searchBar {
  padding: 0.5rem;
  margin: 1rem auto;
  display: block;
  width: 40%;
}

.listWrapper {
  align-items: center;
  justify-content: center;
  display: flex;
  text-decoration: none;
}

.productWrapper {
  margin: 20px;
  text-decoration: none;
}
.productWrapper img {
  width: 200px;
  height: 200px;
  text-decoration: none;
}
.productWrapper p {
  text-align: center;
  text-decoration: none;
}

.detail {
  text-align: center;
  text-decoration: none;
}

.detail img {
  width: 300px;
}

.home button {
  margin: 15px;
}

.darktheme {
  background-color: black;
  color: white;
}

.lighttheme {
  background-color: white;
  color: black;
}

header {
  display: flex;
  justify-content: flex-end;
  height: 60px;
  background-color: burlywood;
}

header a {
  padding: 15px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

header a:hover {
  background-color: white;
}

header img {
  position: relative;
  margin-right: 800px;
  height: 45px;
  justify-content: left;

  margin-bottom: 20px;
}
